// homepage - header tabs marker
$tabsContainerMarkerBackgroundColor: #dc0814;

// homepage - header li selected color
$tabsContainerLiIsSelectedTextColor: #dc0814;

// sidebar - selected li color

.tabs-container {
  .marker {
    background: $tabsContainerMarkerBackgroundColor;
  }
  ul li.is-selected a{
    color: $tabsContainerLiIsSelectedTextColor;
  }
}
