/* logo */
.navigation-header .logo {
    background-image: none;
}

/* header */
.sulu-header .blue-row {
    background: green;
}

/* language side header */
.sulu-header .toolbar-row .right-container {
    background: green;
}

/* terugknop header */
.sulu-header .toolbar-row .left-container {
    background: green;
}

/* plus knop pagina toevoegen */
.column-navigation-wrapper .options .add {
    background: green;
}

/* toevoegen knop */
.husky-toolbar .toolbar-item.highlight {
    background-color: green;
    border-color: transparent;
}

/* sidebar na klikken, kleur veranderd streep */
.navigation-item-container .navigation-items::before {
    background: green;
}

/* inhoud pagina, highlight navigatie (underlined) */
.tabs-container .marker {
    background: green;
}

/* inhoud pagina, text navigatie */
.tabs-container ul li.is-selected a {
    color: green;
}

/* inhoud > samenvattingen > knop */
.white-box .header .icon.action {
    background: green;
    color: #fff;
}

div.media-background[style] {
    background: #fff !important;
    background-color: #fff !important;
    background-image: url("../img/background.png") !important;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    background-size: initial !important;
}
